<div class="col-lg-2 first-col ">
    <div class="left-top">
        <h3><i class="fa-brands fa-skyatlas"></i> Forecaster</h3>
       
    <div class="left-centre">
        <a href="/"> <h5><i class="fa fa-light fa-house"></i> Dashboard</h5></a> 
        <a href="/pollution"><h5><i class="fa-solid fa-map-pin"></i> Air Pollution</h5></a> 
        <a href="/facts">  <h5><i class="fa-solid fa-book"></i> Facts</h5></a> 
        <a href="/feedback" ><h5><i class="fa-solid fa-comments"></i> Feedback</h5></a>
       
    </div>
      
    </div>
    <!-- <i class='fas fa-sun' id="theme-mode"></i> -->
    <div class="left-bottom">
        <h3><a href=""><i class="fa fa-solid fa-gear"></i> Setting</a></h3>
        <div class="system">
           
        <h5 id="mode" onclick="change_theme()">Theme <i class='fas fa-moon' id="theme-mode"></i></h5>
        <a href=""> <h6 style="color:red;"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout  account</h6></a>
    </div>
    </div>
</div>