<nav class="navbar navbar-expand-lg bg-light navbar-light" id="navbar">
    <div class="container-fluid" id="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa-brands fa-skyatlas"></i> ForeCaster</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav " >
            <a href="/"> <h5 class="nav-items"><i class="fa fa-light fa-house"></i> Dashboard</h5></a> 
            <a href="/pollution"><h5><i class="fa-solid fa-map-pin"></i> Air Pollution</h5></a> 
            <a href="/facts">  <h5><i class="fa-solid fa-book"></i> Facts</h5></a> 
            <a href="/feedback" ><h5><i class="fa-solid fa-comments"></i> Feedback</h5></a>
            <a id="mode" onclick="navbar_theme()"><h5 ><i class='fas fa-moon' id="theme-mode2"></i> Theme </h5></a>
        </div>
      </div>
    </div>
  </nav>