<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c06e946a68.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/feedback-style.css">
    
</head>
<body onload="applyTheme()" id="body" class="dark-mode">
    
   <div class="container">
    <div class="row">
        <%- include('partials/leftBar') %>
        <%- include('partials/navbar') %>
            <div class="col-lg-10 second-col">
  <section class="contact-me" id="contact">
        <h1> <strong> Contact Me</strong> </h1>
        <div class="contact-container">
           
            <div class="input-right-form">
                <form  method="post" action="/feedback" onsubmit="sendEmail();  ">
            <div class="input-container">
                    <input type="text" id="name" name="name" class="text-input" autocomplete="off" placeholder="Enter Your Name" required/>
                    <label class="label" for="Name">Name</label>
                  
            </div>
            <div class="input-container">
                <input type="email" id="email" name="email" class="text-input" autocomplete="off" placeholder="Enter Your Email"/>
                <label class="label" for="email">Email</label>
            </div>
            <div class="input-container">
                <textarea type="text" id="msg" name="message" rows="4" class="text-input"  autocomplete="off" placeholder="Enter Your message" ></textarea>
                <label class="label" for="msg" >Message</label>
            </div>
            <div class="input-container" onclick="file_attachment()">
                <input type="file" id="file" class="text-input"   />
            </div>
            <div class="input-container submit-button-area">
               <button class="btn btn-primary">Submit <i class="fa fa-paper-plane"></i> </button>
               
            </div>
            <div class="social">
                <a href="https://github.com/ankur731" target="_blank">  <i class="fa-brands fa-github fa-2xl"></i></a>
                <a href="mailto:ankur73tiwari@gmail.com" target="_blank">  <i class="fa-solid fa-envelope fa-2xl"></i></a>
                <a href=""> <i class="fa-brands fa-telegram fa-2xl" target="_blank"></i></a>
                <a href="https://www.linkedin.com/in/ankur-tiwari-7003041b7/" target="_blank"> <i class="fa-brands fa-linkedin fa-2xl"></i></a>
                <a href="https://www.instagram.com/ankur_tiwari73/" target="_blank"> <i class="fa-brands fa-instagram fa-2xl"></i></a>
            </div>
        </form>
        </div>
        </div>
       
    </section>
</div>

</div> 
</div>
</div>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="theme.js"></script>
<script src="app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

</body>
</html>
